@import "colors.scss";

button {
    cursor: pointer;
    flex: 1;
    background-color: $bg-primary;
    color: $primary;
    padding: 1%;
    border-radius: 8px;
    border: $bg-primary 1px solid;
    text-align: center;
    max-width: 15%;
}


button:disabled {
    cursor: not-allowed;
    color: $bg-secondary;
    border-color: $border;
    background-color: $disabled;
}

button:hover:not(:disabled) {
    background-color: $selected;
    font-weight: bold;
    color: $bg-primary;
}