@import "colors.scss";

button {
    cursor: pointer;
    background-color: $bg-primary;
    color: $primary;
    padding: 1%;
    border-radius: 8px;
    border: $bg-primary 1px solid;
    text-align: center;
    width: 17.5%;
}

@media only screen and (max-width: 1400px) {
    button {
        width: 22.5%;
    }
    
}

@media only screen and (max-width: 1200px) {
    button {
        width: 27.5%;
    }
    
}

@media only screen and (max-width: 1000px) {
    button {
        width: 32.5%;
    }
    
}

@media only screen and (max-width: 800px) {
    button {
        width: 37.5%;
    }
    
}

button:disabled {
    cursor: not-allowed;
    color: $bg-secondary;
    border-color: $border;
    background-color: $disabled;
}

button:hover:not(:disabled) {
    background-color: $selected;
    font-weight: bold;
    color: $bg-primary;
}