@import "./colors.scss";

ul {
    font-size: 16px;
    
    & li {
        font-size: 16px;
    }
}

ul[class ^= select] {
    margin-top: 1%;
    padding-left: 0;

    & li {
        text-decoration: none;
        list-style: none;
        color: $light-blue;
        cursor: pointer;
        border: 1px solid $blue;
        border-radius: 8px;
        margin-top: 2.5%;
        padding: 1.5%;

        & .selected {
            background-color: $blue;
            font-weight: bold;
            color: $darker-blue;
        }

        &:hover {
            background-color: $blue;
            font-weight: bold;
            color: $darker-blue;
        }
    }
}

ul[class ^= list] {
    text-decoration: none;
    list-style: none;
    font-size: large;
    padding-left: 0;
    margin-left: 0;
    list-style-position: inside;
}

ul.list-topics {
    cursor: pointer;
}

.list-topics-selected {
    font-weight: bold;
    color: $green;
}