@import "colors.scss";

.select-topics, .select-answer {
    margin-top: 1%;
    padding-left: 0;
}

.select-topics li, .select-answer li {
    text-decoration: none;
    list-style: none;
    color: $normal-text;
    cursor: pointer;
    border: 1px solid $border;
    border-radius: 2px;
    margin-top: 2%;
    padding: 2%;
}

.select-topics li.selected-topic, .select-answer li.selected-answer {
    background-color: $selected;
    font-weight: bold;
}

.select-topics li:hover, .select-answer li:hover {
    background-color: $hovered-over;
    font-weight: bold;
}
