@import "./colors.scss";

@mixin button-width($width) {
    button[class^="btn"] {
        width: $width;
    }
}

@mixin main-container($height, $width) {
    .main-container {
        height: $height;
        width: $width;
    }
}

@mixin question-text($font-size) {
    .question-text {
        font-size: $font-size;
        color: $green;
    }
}

@mixin select-answer($font-size) {
    .select-answer {
        font-size: $font-size;
    }
}

@mixin popup-wrapper($height, $width) {
    .popup-wrapper {
        height: $height;
        width: $width;
    }
}

@media only screen and (max-width: 1000px) {
    @include button-width(25%);
    @include main-container(80vh, 70vw);
    @include question-text(17px);
    @include select-answer(15px);
    @include popup-wrapper(75%, 65%);
}

@media only screen and (max-width: 500px) {
    @include button-width(30%);
    @include main-container(90vh, 90vw);
    @include question-text(16px);
    @include select-answer(14px);
    @include popup-wrapper(90%, 90%);
}
