@import "colors.scss";

body {
    background: linear-gradient($bg-primary, $bg-secondary);
    color: $normal-text;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

h2 {
    font-size: 150%;
}

.main-container {
    height: 70vh;
    width: 50vw;
    font-family: monospace;
    background: $primary;
    border-radius: 16px;
    padding: 2% 3%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 110%;
}

.scroll {
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

.header, .content, .footer {
    max-height: 100%;
    max-width: 100%;
}

.header {
    height: 10%;
    font-size: large;
    font-weight: bolder;
    margin: 2%;
}

.content {
    height: 80%;
    margin: 0 2%;
    flex-grow: 1;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 5%;
    height: 10%;
    margin: 2%;
}

@media only screen and (max-width: 1400px) {
    .main-container {
        height: 75vh;
        width: 60vw;
    }
}

@media only screen and (max-width: 1000px) {
    .main-container {
        height: 80vh;
        width: 70vw;
    }
}

@media only screen and (max-width: 1200px) {
    .main-container {
        height: 85vh;
        width: 80vw;
    }
}

@media only screen and (max-width: 800px) {
    .main-container {
        height: 90vh;
        width: 90vw;
    }
}

.question-text {
    margin-bottom: 5%;
    font-size: 1.5em;
    font-weight: bold;
}

.answer-input {
    margin-top: 5%;
}
