@import "./colors.scss";

.popup {
    width: 80%;
    height: 50%;
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $transperent-darker-blue;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.popup-content {
    height: 80%;
    background-color: $dark-blue;
    padding: 1%;
    border: 1px solid $darker-blue;
    max-width: 600px;
    border-radius: 8px; 
    font-size: 16px;
    overflow: auto;

    & p {
        margin: 3%;
        white-space: pre-line;
    }
}

.show-solution-btn {
    color: $green;
    font-weight: bold;
    font-size: x-large;
    margin: 0 auto 5%;
    max-width: fit-content;
}

.show-solution {
    margin-top: 5%;
}
