@import "./colors.scss";

.quiz-progress {
    display: flex;
    justify-content: space-between;
        
    .current-question-number {
        font-weight: bold;
        font-size: 3vh;
        color: $orange;
    }

    .total-question-number {
        font-weight: bold;
        font-size: 2vh;
        color: $light-blue;
    }
}

.progress-bar-bg {
    position: relative;
    height: 1%;
    min-height: 5px;
    width: 100%;
    background: linear-gradient(90deg, blue, red);
    margin: auto;

    .progress-bar {
        transform-origin: right;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background: $darker-blue;
        animation: progress var(--maxTime) linear forwards;
    }

    @keyframes progress {
        0% { 
            width: 100%; 
        }
        100% { 
            width: 0%; 
        }
    }
}