@import "./colors.scss";

.recap {
    font-size: 14px;
    line-height: 115%;
}

.result {
    font-size: 18px;
}

br {
    display: block;
    margin: 1.5vh 0;
}

.question-recap {
    color: $green;
}

.answer-recap {
    color: $orange;
}

.line {
    background-color: $blue;
    height: 1.75px;
    width: 100%;
    margin-bottom: 2%;
}